Repository RWTH-EBC/AixLib, pull requests merged in 2021-12, with the labels that each got.

#1208 Issue1207 add power based subsystem controllers
  AixLib/Systems/HydraulicModules/Controller/CalcHydraulicPower.mo
  AixLib/Systems/HydraulicModules/Controller/CtrThrottleQFlow.mo
  AixLib/Systems/HydraulicModules/Controller/package.order
Labels: hackday, Systems

#1197 Resolves Bug for only humidifcation in AHU.
  AixLib/Airflow/AirHandlingUnit/BaseClasses/PartialAHU.mo
Labels: bug

#1209 Issue1206 integrate tabs module
  AixLib/Systems/TABS/BaseClasses/TabsBus.mo
  AixLib/Systems/TABS/BaseClasses/package.mo
  AixLib/Systems/TABS/BaseClasses/package.order
  AixLib/Systems/TABS/Controller/CtrTabs.mo
  AixLib/Systems/TABS/Controller/package.mo
  AixLib/Systems/TABS/Controller/package.order
  AixLib/Systems/TABS/Examples/Tabs.mo
  AixLib/Systems/TABS/Examples/package.mo
  AixLib/Systems/TABS/Examples/package.order
  AixLib/Systems/TABS/Tabs.mo
  AixLib/Systems/TABS/package.mo
  AixLib/Systems/TABS/package.order
  AixLib/Systems/package.order
Labels: Systems
